html {
	background-color: #f4f4f4;
}

pre,
code {
	font-size: 10px;
	font-family: monospace;
	margin: 0px;
}

#console {
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid #ccc;
	height: calc(100% - 22px);
	overflow-y: auto;
	font-family: monospace;
}

.button-container {
	align-content: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 2px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 150px;
}

.btn-wrapper {
	display: flex;
	align-items: center;
}

/* Styling for the code icon (next to the button) */
#codeIcon {
	font-size: 24px;
	margin-right: 10px;
	cursor: pointer;
	color: grey;
	transition: color 0.3s ease;
	transform: translateX(119px);
}

/* Change icon color on hover */
#codeIcon:hover {
	color: #0056b3;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	text-align: left;
	width: 200px;
}

button:hover {
	background-color: #0056b3;
}

/* Styling for the log entries */
.log-entry {
	display: flex;
}

/* Styling for the time column */
.log-time {
	color: lightgray;
	width: 45px;
	font-size: 10px;
}

/* Styling for the message column */
.log-message {
	flex: 1;
	margin-left: 10px;
}

/* Styling for the <pre> tag within the message column */
.log-pre {
	white-space: pre-wrap;
	font-size: 16px; /* Allows multiline handling */
}

/* Styling for the <pre> tag within the message column */
.log-group {
	font-weight: bold;
}

.log-error {
	color: red;
	background-color: #fcebeb;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.log-warn {
	background-color: #fef6d5;
	font-weight: bold;
	display: flex;
	align-items: center;
}

/* Styling for the warning icon */

.log-error::before {
	content: '⛔';
	margin-right: 8px;
	font-size: 1.2em;
	transform: translateY(-2px);
}

.log-warn::before {
	content: '⚠️';
	margin-right: 8px;
	font-size: 1.2em;
	transform: translateY(-2px);
}

/* Styling for the log table */
.log-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 10px;
}

.log-table td,
.log-table th {
	padding: 0px;
}

/* Styling for table headers */
.log-table-header {
	border: 1px solid black;
	padding: 4px;
	text-align: left;
	background-color: #f4f4f4; /* Optional, for visibility */
}

span {
	position: relative;
	display: inline-block;
}
/* Styling for table cells */
.log-table-cell {
	border: 1px solid black;
	padding: 4px;
}

.highlight-start {
	background-color: lightyellow;
	font-style: italic;
}
.highlight-complete {
	background-color: lightgreen;
	font-style: normal;
	font-weight: bold;
}
.highlight-rejected {
	background-color: rgba(255, 0, 0, 0.2);
	font-style: normal;
	font-weight: bold;
}
.highlight-repeat {
	border: 0px solid black;
}
.tree {
	padding: 2px 0;
	border: 1px solid #ccc;
	margin: 0 0 2px 0;
}

.log-table {
	border-collapse: collapse;
}

.icon {
	position: absolute;
	left: -10px;
	top: 1px;
	cursor: pointer;
	color:  rgba(255, 0, 0);
}

.highlight-complete .icon,
.highlight-rejected .icon {
	display: none;
}
