.logger {
	background-color: #f4f4f4;
	line-height: 1.2;
}

.logger,
.logger table {
	font-size: 10px;
	font-family: monospace;
}

.logger pre,
.logger code {
	margin: 0px;
}

.logger:first-child {
	border-top: 1px solid #d3d3d3;
}

.logger {
	padding: 10px 0px;
	border-bottom: 1px solid #d3d3d3;
}

.logger .log-info {
	color: #d3d3d3;
}

.logger .log-entry {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.logger .log-time {
	color: lightgray;
	width: 45px;
}

.logger .log-message {
	margin-left: 10px;
}

.logger .log-pre {
	white-space: pre-wrap;
}

.logger .log-group {
	font-weight: bold;
}

.logger .log-error {
	color: red;
	background-color: #fcebeb;
	font-weight: bold;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.logger .log-warn {
	background-color: #fef6d5;
	font-weight: bold;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.logger .log-error::before {
	content: '⛔';
	margin-right: 8px;
	font-size: 1.2em;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.logger .log-warn::before {
	content: '⚠️';
	margin-right: 8px;
	font-size: 1.2em;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.logger .log-table {
	width: 100%;
	border-collapse: collapse;
}

.logger .log-table th {
	padding: 0px 10px 0px 0px;
}

.logger .log-table td:first-child {
	color: #d3d3d3;
}

.logger .log-table td {
	padding: 0px 5px;
}

.logger .log-table-header {
	font-weight: normal;
	color: #999;
	border: 0px solid black;
	text-align: left;
}

.logger .log-table-cell {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}

.logger span {
	position: relative;
	display: inline-block;
}

.logger .highlight-start {
	background-color: lightyellow;
	font-style: italic;
}

.logger .highlight-complete {
	background-color: lightgreen;
	font-style: normal;
	font-weight: bold;
}

.logger .highlight-aborted,
.logger .highlight-rejected {
	background-color: rgba(255, 0, 0, 0.2);
	font-style: normal;
	font-weight: bold;
}

.logger .highlight-repeat {
	border: 0px solid black;
}

.logger .tree {
	padding: 10px;
	border: 1px solid #d3d3d3;
	background-color: #f4f4f4;
	margin: 0 0 2px 0;
}

.logger .icon {
	position: absolute;
	left: -8px;
	top: 1px;
	cursor: pointer;
}

.logger .highlight-complete .icon,
.logger .highlight-repeat .icon,
.logger .highlight-rejected .icon,
.logger .highlight-aborted .icon {
	display: none;
}
