html {
	background-color: #f4f4f4;
}

html,
table {
	font-size: 10px;
	font-family: monospace;
}

pre,
code {
	margin: 0px;
}

#console {
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid #999;
	height: -webkit-calc(100% - 22px);
	height: -moz-calc(100% - 22px);
	height: calc(100% - 22px);
	overflow-y: auto;
	font-family: monospace;
}

.button-container {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.button-container > * {
	margin-bottom: 2px;
}

.button-container > *:last-child {
	margin-bottom: 0;
}

.btn-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Styling for the code icon (next to the button) */
#codeIcon {
	font-size: 24px;
	margin-right: 10px;
	cursor: pointer;
	color: grey;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	transition: color 0.3s ease;
	-webkit-transform: translateX(119px);
	-moz-transform: translateX(119px);
	transform: translateX(119px);
}

/* Change icon color on hover */
#codeIcon:hover {
	color: #0056b3;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	background-color: #007bff;
	color: white;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	width: 200px;
}

button:hover {
	background-color: #0056b3;
}

/* Styling for the log entries */
.log-entry {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Styling for the time column */
.log-time {
	color: lightgray;
	width: 45px;
}

/* Styling for the message column */
.log-message {
	/* -webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1; */
	margin-left: 10px;
}

/* Styling for the <pre> tag within the message column */
.log-pre {
	white-space: pre-wrap;
}

.log-group {
	font-weight: bold;
}

.log-error {
	color: red;
	background-color: #fcebeb;
	font-weight: bold;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.log-warn {
	background-color: #fef6d5;
	font-weight: bold;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Styling for the warning icon */

.log-error::before {
	content: '⛔';
	margin-right: 8px;
	font-size: 1.2em;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.log-warn::before {
	content: '⚠️';
	margin-right: 8px;
	font-size: 1.2em;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

/* Styling for the log table */
.log-table {
	width: 100%;
	border-collapse: collapse;
}

.log-table th {
	padding: 0px 10px 0px 0px;
}
.log-table td:first-child {
	color: #ccc;
}
.log-table td {
	padding: 0px 5px;
}

/* Styling for table headers */
.log-table-header {
	font-weight: normal;
	color: #999;
	border: 0px solid black;
	text-align: left;
}

.log-table-cell {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

span {
	position: relative;
	display: inline-block;
}

.highlight-start {
	background-color: lightyellow;
	font-style: italic;
}
.highlight-complete {
	background-color: lightgreen;
	font-style: normal;
	font-weight: bold;
}
.highlight-aborted,
.highlight-rejected {
	background-color: rgba(255, 0, 0, 0.2);
	font-style: normal;
	font-weight: bold;
}
.highlight-repeat {
	border: 0px solid black;
}
.tree {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	margin: 0 0 2px 0;
}

.icon {
	position: absolute;
	left: -8px;
	top: 1px;
	cursor: pointer;
	/* color:  rgba(255, 0, 0); */
}

.highlight-complete .icon,
.highlight-repeat .icon,
.highlight-rejected .icon,
.highlight-aborted .icon {
	display: none;
}
